.item1{
    /* border: 1px solid black; */
    /* width: 292px;
    height: 200px; */
    width: 46%;
    margin: 20px 10px;
}
.item__first{
    font-size: 10px;
    padding: 5px;
    letter-spacing: 4px;
}
.item__second{
    margin: 2%;
}
.item__second img{
    width: 110px;
    height: 99px;

}
.item__third{
    /* padding: 5px; */
    /* margin-left: 7px;
    margin-top: 31px; */
    
    margin-left: 1%;
    margin-top: 6%;

}