.widget-container {
  position: absolute;
  border-radius: 10px 10px 0 0;
  background-color: #b4b4b4;
  left: 0px;
  top: 0px;
  overflow: hidden;
  &.fixed,
  &.fullscreen {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    position: absolute;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0;
    left: 0;
    top: 0;
  } 
  &.split {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.canvas-container {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  // margin: 18px;
}

.canvas-container canvas {
  /* display: block;
  width: 100%;
  height: 100%; */
}

#toolbar {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  cursor: move;
  position: absolute;
  z-index: 300;
}

.toolbar-button:hover .tooltip-txt {
  visibility: visible;
}

.filter-pink {
  filter: invert(47%) sepia(41%) saturate(1900%) hue-rotate(357deg) brightness(89%) contrast(100%) !important;
}


.custom-select {
  margin-left: 4px;
  text-align: center;
  font-size: 12.8px;
  height: 20px !important;
  width: 100px;
  border: 1px solid #3e3e3e;
  border-radius: 4px;
  line-height: 18px;
  font-weight: 500;
  appearance: auto !important;
}

.custom-select:focus {
  border-color: #3e3e3e;
  outline: 0;
  box-shadow: none;
}