/*
// -------------------------------------------------------------------------------------
// Date        Author     Referene    Comments
// 16-05-23    HSK        PLAT-2813   Revamed IafViewer Components                                     
// 24-05-23    HSK        PLAT-2730   Revamed IafViewer Panels - Cutting Planes
// -------------------------------------------------------------------------------------
*/

.list-item-sub-header-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* padding: 24px 0px 0px; */
    gap: 5px;
    width: 255px;
    height: 42px;
    border-top: 1px solid #3e3e3e;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .list-item-sub-title-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 0px 24px;
    gap: 10px;
    width: 83px;
    height: 18px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .list-item-sub-title {
    /* width: 59px; */
    height: 18px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .list-item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 24px 24px;
    width: 255px;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
  
  .list-item-content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 207px;
    /* height: 84px; */
    flex: none;
    order: 0;
    flex-grow: 0;
  }